

h2 {
    position: relative;
    font-size: 20px;
    color: white;
    top: 120px;
}
.coverPic {
    position: absolute;
    width: 100%;
    top: 10px;
    height: auto;

};



.allPosts {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.eachPost {
    width: 33%;
}

.ownPosts {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    top: 160px;
    
}

.individualsPost {
    background-color: black;
    margin-bottom: 70px;
}

.postPic {
    width : 100%;
}

.userDetails {
    font-size: 10px;
    position: relative;
    left: 150px;
    top: 120px;
}


img.profilePic {
    position: absolute;
    size: 100%;
    left: 5%;
    width:20%;
    top: 100px;
    border-radius: 50%;
    border: 5px solid #DCDCDC;
};




.userImages {
    position: relative;
}



.emailAddress {
font-weight: 300;
  left: 80%;
}

.name {
    size: 50%;
    top: 20%;
    left: 20%;
}

.username {
    font-weight: 600;
    top: 50%;
    left: 50%;
}



img.postImage{
    width: 30%;
    margin: 0;
}

    h1   {
        color: rgb(255, 255, 255);
   
    }
 
    body {
        background: #252a38;
        color: #DCDCDC;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .likes {
        color: #106d13;
    }

    .dislikes {
        color: #f10707
    }

    .dislikeButton {
        background-color: #f10707; 
        border: none;
        border-radius: 20px;
        color: orange;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
    }
    
    .likeButton {
        background-color: #106d13;
        border: none;
        border-radius: 20px;
        color: orange;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
    }
    userPosts {
        color: pink
    }


    @media only screen and (max-width: 600px) {
        body {
            font-size: large;
        }
    }
    @media only screen and (max-width: 400px) {
    body {
        
        font-size: small;
        
    }
    .eachPost {
        width: 100%;
    }
    }
    
   

    